{% extends 'base.html.twig' %}
{% block main %}
     @var role \BlogBundle\Entity\Role
    {% for role in allRoles %}
        <label>
            <select name="role">
                <option value="{{ role.id }}">{{ role.name }}</option>
            </select>
        </label>
    {% endfor %}
    <br>



    <div class="card w-50">
        <div class="card-body">
             @var user \BlogBundle\Entity\User
            {% for user in allUsers %}
                <h5 class="card-title">{{ user.fullName }}</h5>
                <a href="#" class="btn btn-primary">Edit</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
